PORT=4000
SESSION_SECRET=siwarnet2025
CIPHER_KEY=27795e6fae35e44b
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mikhmon?schema=public"
SESSION_SECRET=7d01db50c60b7a0a6a52b86b7e596dc7a3b287c9a376086d138e128d5cd19968
CORS_ORIGINS="http://localhost:4000"
NODE_ENV="production"